.lmj-banner{
  box-shadow: 3px 6px 29px 0px rgba(0, 0, 0, 0.042);
  background-color: rgba(255, 255, 255, 0.688);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lmj-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 100;
  padding: 1.5rem;
  background-color: #31b572;;
  color: rgb(255, 255, 255);
}
.lmj-logo{
  max-width: 2rem ;
}

.ljm-title{
  padding-inline: 2rem ;
  font-size: 1rem;
  text-align: right;
  padding-bottom: .1rem;
}